.head {
    width: 100%;
    height: 100px;
    padding: 20px 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

button {
    height: 20px;
    width: 40px;
    overflow: hidden;
}

.main {
    text-align: left;
    margin-top: 0%;
}

.www {
    height: 30px;
    border: none;
    display: flex;
    background-color: white;
}

.asa {
    display: flex;
    border-bottom: 1px solid #61bd75;
}

.asa input[type="text"] {
    width: 300px;
    height: 57px;
    border: none;
}

.content {
    width: 100%;
    height: 100%;
}

.box {
    width: 50%;
    height: 100%;
    margin: 0px 400px 0 500px;
}

.item {
    width: 80%;
    height: 40%;
    display: flex;
}

.txt {
    margin: auto;
}

.txt h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 0.6em;
    color: #61bd75;
}

.txt p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #317b41;
    line-height: 2em;
    margin-bottom: 1em;
}

.txt h1,
.txt p {
    font-size: 22px;
    line-height: 2em;
    font-weight: bold;
}

.new {
    height: 200px;
    width: 100%;
    background-color: white;
    display: flex;
}

.pic {
    width: 100px;
    padding-top: 40px;
}

.pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgba(255, 0, 0, 1);
}

.group {
    height: 100%;
    width: 100%;
    display: inline;
    line-height: 30px;
}

.www {
    width: 10%;
    height: 100%;
}

.new .group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    border-bottom: 2px solid #61bd75;
    padding-top: 10px;
}

.title p {
    width: 70px;
    padding: 20px 5px;
    background-color: #e6f2e8;
    color: #317b41;
}

.it ul {
    padding-left: 150px;
}

.wrong {
    padding: 0px 0px 0px 80px;
}

.it {
    padding-left: 80px;
}

.now {
    padding: 30px 0px;
}

.now ul {
    padding: 10px 0px;
}

.now ul li {
    line-height: 30px;
}

.box3 {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

table tr th {
    margin: auto;
    width: calc(100% / 3);
    height: 10px;
    padding: 20px 0 20px;
    background-color: #317b41;
    color: white;
}

table tr td {
    padding: 30px 0px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #fafcfa;
}

table tr:nth-child(odd) {
    background-color: #f3f9f5;
}

.photo {
    box-sizing: border-box;
}

.explore {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3 -10px);
}

.explore {
    width: 100%;
    padding: 0 20px;
}

.explore .photo {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.explore img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-right: 20px;
}

.explore label {
    position: relative;
    margin: 10px;
}

.explore label:hover span {
    opacity: 1;
}

.explore span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../image/mask.png) no-repeat center center, rgb(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.8s;
}

.foot {
    width: 100%;
    padding-top: 20px;
    margin: 20px;
    background-color: #61bd75;
    margin: auto;
}

.hgh ul li {
    display: inline;
    padding-right: 50px;
    color: white;
    text-decoration: none;
}

.foot li+li::before {
    content: "|";
    position: relative;
    right: 2em;
}

.hgh {
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 30px;
}

.hgh p {
    text-align: center;
}

.hgh ul li a:visited {
    color: white;
}