.allbox {
    height: 100vh;
    width: 200vh;
    background-image: url(../image/mainBG.jpg);
    display: flex;
}

.now {
    height: 60%;
    width: 20%;
    /* background-color:#000; */
    margin: auto;
}

.logo {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: transparent;
    padding-bottom: 30px;
}

img {
    margin: auto;
}

.item {
    height: 300px;
    width: 100%;
    background-color: rgb(216, 216, 215, 0.5);
}

h1 {
    text-align: center;
    font-size: large;
    letter-spacing: 3px;
    padding: 30px 0 10px 0;
}

p {
    letter-spacing: 1px;
    line-height: 24px;
    padding: 0 0 10px 0;
}

.asa {
    text-align: center;
    display: block;
}

input {
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.new {
    height: 100%;
    padding: 20px 20px;
}

.asa input[type="submit"] {
    margin-top: 10px;
    width: 100%;
    background-color: #6dc580;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 4px #000;
}

.asa input[type="text"] {
    width: 100%;
}

.asa input[type="submit"]:active {
    width: 100%;
    transform: translateY(2px);
    box-shadow: none;
}

ul li {
    display: inline;
    padding-right: 20px;
    color: white;
}

li+li::before {
    content: '|';
    position: relative;
    right: 1em;
}

.hgh {
    padding-top: 50px;
}

.hgh p {
    padding: 20px 0 0px 0;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    cursor: pointer;
    border-bottom: 3px solid white;
}

a {
    text-decoration: none;
}